
.spotCard{

    margin: 10px;
    width: 280px;
    height: 365px;
    border-radius: 6%;

}
.spotCard:hover {
    box-shadow: 2px 2px 5px #888;
}

.locationAndStars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link {
    text-decoration: none; 
    color: black;

}