.create {
    margin: 150px;

}

label, input {
    display: block;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: broder-box;
}

/* form button {
    background: #FF5A5F;
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    
} */

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid;
    margin: 20px 0;
}
