.SpotbyId{
    margin: 40px 100px;
}

.spotByIdName{
    margin: 5px;
    margin-top: 20px;
    padding-left: 15px;
}

.spotInfo{
display: flex;
justify-content: flex-start;
gap: 25px;
max-width: 550px;
margin-left: 20px;
}

.spot-photos {
    display: flex;
    align-items: flex-start; /* Align the items to the top */
    width: 100%;  /* Take up all available space */
  }

.priceById{
    font-weight: bold;
    margin-left: 15px;
}
.descriptionSection{
    padding: 14px;
}

.hostedBy{
    margin-left: 20px;
    font-size: 1.5em
}

.additional-spot-info{
    margin: 25px;

}
.additional-spot-info > div {
    display: flex; /* Set each inner div to be a flex container */
    align-items: center; /* Center align the img and p vertically */
    margin-bottom: 30px;
    color: gray
  }
  
  .additional-spot-info > div p,
  .additional-spot-info > div img {
    margin-right: 10px; /* Add some space between img and p */
  }
  

.info-and-bookings {
    display: flex;
    justify-content: space-between; /* Adds space around items */
    align-items: flex-start; /* Aligns items to the top */
  }
  .info-and-bookings > div:first-child {
    flex: 1;  /* Takes up remaining space */
    margin-right: 20px; /* Adds some space between this div and the next */
  }
  
  .info-and-bookings > div:last-child {
    flex: 1;  /* Takes up only the necessary space */
    width: 100%; /* Optional: set a max width for the booking form */
  }