



.spotInfo{
display: flex;
justify-content: flex-start;
gap: 15px;


}

.spot-photos {
    display: flex;
    justify-content: center; /* Align the items to the top */
    width: 100%;  /* Take up all available space */
    margin: 20px 0;;
  }

.priceById{
    font-weight: bold;
    font-size: 20px;
}

.priceByIdNight {
  font-size: 15px;
  font-weight: normal;
}

.hostedBy{

    font-size: 1.5em
}

.additional-spot-info{
    margin: 25px 0px;

}
.additional-spot-info > div {
    display: flex; /* Set each inner div to be a flex container */
    align-items: flex-start; /* Center align the img and p vertically */
    margin-bottom: 30px;
    color: gray
  }
  
.description {
  margin-right:25px
}

.info-and-bookings {
    display: flex;
    justify-content: space-between; /* Adds space around items */
    align-items: flex-start; /* Aligns items to the top */
    margin-top: 25px;
  }
  .info-and-bookings > div:first-child {
    flex: 2;  /* Takes up remaining space */
    margin-right: 20px; /* Adds some space between this div and the next */
  }
  
  .info-and-bookings .booking {
    display: flex;
    justify-content: flex-end;
    flex: 1;  /* Takes up only the necessary space */

  }