button {
    background-color: transparent;
    color: #FF5A5F;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px;
    font-size: 15px;;
  }
  .on {
    color: #FF5A5F;
  }
  .off {
    color: #ccc;
  }

  