  
  .previewImg {
  height: 560px;
  width: 542px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  }
  
  /* Style for the thumbnail container */
  .thumb-nail-container {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    margin-left: 5px;
  }

  .thumb-nail-photos {
   
    width: 17rem;  /* Half of the thumbnail container width */
    height: 17.063rem;  /* Half of the main image height */
    background-color: lightgray;
    margin: 0px 7px;
    object-fit: cover;
    object-position: center;

  }

  .top-right-thumb-nail {

    border-top-right-radius: 15px;
    margin-bottom: 14px;
 

  }

  .bottom-right-thumb-nail {
    border-bottom-right-radius: 15px;

  }


  @media (max-width: 1140px) {
    /* Hide the thumbnail container and its contents */
    .thumb-nail-container {
      display: none;
    }
    /* Modify the preview image to be the main image */
    .previewImg {
      flex-basis: 100%;  /* Span the entire width */
      width: calc(100% - 20px);  /* Full width minus some margin */
      margin: 10px;  /* Add some margin */
      border-radius: 15px;
      height: auto;  /* Make it dynamic */
    }
  }


    
