.spotImages{
    border: 1px solid black;
    margin: 10px;
    height: 400px;
    width: 1060px;
    margin: auto center;
}
.previewImg{
    height: 334px;
    width: 560px;
    border-radius: 15px;
}