nav{
    display: flex;

}

.nav-bar-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid rgba(191, 189, 189, 0.5);
    

}
.home-btn {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.home-btn img, .home-btn p {
  display: inline-block; /* Force inline */
  vertical-align: middle; /* Align middle */
}

.navbar-logo {
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.home-btn p {
  color: #FD5B5E; /* change the text color */
  font-size: 20px;
  font-family: 'Circular Std', sans-serif;  /* this is just an example; you can use any Airbnb-like font */
  margin: 0;  /* remove default margins */
}

  .sessionButtons{

    width: 600px;
    height: 50px;
  }

  .navButtons{
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
  }

a {
    text-decoration: none;
    color: black;
}

.profileBtn{
  display: flex;
  justify-content: column;
  align-items: flex-start;
  position: relative;

}

.profile-dropdown{
  background-color: #f5f5f5;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  position:absolute;
  list-style-type: none;
  border-radius: 10px;
}

.loginlogout{
  display: flex;
  justify-content: space-evenly;
  margin-right: 25px;
  width: 400px;
}